.container-panel-main {
    margin-top: 15px;
}

.oculto{
    display: none !important;
}

.labelTheme{
    color: #fff;
}

.jumbotron {
    padding: 1rem 2rem !important;
}

.root {
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}